$colorBlack: #212529;
$colorYellow: #661eb5;
$colorYellowActive: #661eb5;
$colorDescription: #6f6b5b;
$footerTextColor: #F7F7F7;
/************ GENERAL                                            base.html.twig **********/
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-image: url(https://mw.laparqueterienouvelle.fr/media/catalog/product/cache/10/image/1400x1000/17f82f742ffe127f42dca9de82fb58b1/b/a/bardage-madrier-deco-taille-hache-brut-6502505965000-still-life-laparqueterienouvelle_2800.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}
#body-initial{
    width: 616px;
    padding: 5px 14px 5px 14px;
    margin: 0 auto;
    padding-bottom: 20px;
    h2 {
        font-size: 28px;
        font-family: MONOSPACE;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 7%;
    }
}
#container-initial{
    max-width: 60vw;
    height: auto;
    position: relative;
    opacity: 0.85;
    padding-top: 30px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 100px auto;
    border-radius: 3px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.btn {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 4%;
    margin-top: 4%;
}
.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}
.btn-primary {
    background-color: $colorYellow;
    border-color: $colorYellow;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: $colorYellowActive !important;
    border-color: $colorYellowActive !important;
    color: white;
}
.btn-primary:active, .btn-primary:focus {box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;}

/************ NAVBAR                                            base.html.twig **********/

#mainNav {background-color: $colorBlack !important;}
#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $colorYellow;
     font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-brand {
    color: $colorYellow;
    padding:0;
}
#mainNav .navbar-brand img {width: 12%;}
#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {color: $colorYellow; }
#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {color: $colorYellow; }

/************ INDEX                                           index.html.twig **********/

.inspiration {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    background-color: #F7F7F7;
    border-radius: 3px;
    position: relative;
    max-width: 49%;
    height: 50%;
    margin-left: 25%;
    margin-top: 4%;
    padding-top: 2%;
}

/************ RESULT                                            result.html.twig **********/
/************ RECIPE                                            recipe.html.twig **********/

.recipe-container{ width: 90%;}
.portfolio-item {
    right: 0;
    margin: 0 0 15px;
}
.portfolio-item .thumb-post{border-radius: 3px;}
.portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;
}
/*>>>>>>>>>>>>>>>>>>>> hover thumbnail <<<<<<<<<<<<<<<<<<<<<<*/
.portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(140, 54, 254, 0.9)
}
.portfolio-item .portfolio-link .portfolio-hover:hover { opacity: 1; }
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: white;
}
.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {margin-top: -12px; }
/*>>>>>>>>>>>>>>>>>>>> end hover thumbnail <<<<<<<<<<<<<<<<<<<<<<*/

.portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
    margin-top: 3%;
    margin-bottom: 3%;
}
.portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
}
.portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.instruction{
    font-size: 16px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.img-recipe{width: 40%;}
.img-fluid{
  border: 2px solid #564b4b;
  border-style: dashed;
}

/************ FOOTER                                            base.html.twig **********/

#footer-initial{
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
}
footer {
    padding: 25px 0;
    text-align: center;
    background-color: $colorBlack;
    /*margin-top: 30px;*/
}
footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
footer p { color: $footerTextColor;}
footer a {
    color: $footerTextColor !important;
    text-decoration: none;
}